{{#each messages}} {{/each}}
Handlebars.registerHelper("each", function(context, options) {
    var listVal= "";
    _.forEach(context, function(value, key){
        listVal += "<li class='media content-divider justify-content-center text-muted mx-0'><span class='text-muted px-2 font-weight-semibold font-italic'>"+ timeAgoFormat(key) +"</span></li>";
        _.forEach(value, function(item,ind){
            if(item.message_side){
                listVal += "<li class='media media-chat-item-reverse'><div class='media-body'><div class='media-chat-item'>" + (item.text)+ "</div><div class='font-size-sm text-muted mt-1'>"+ (item.time) +"<a href='#'><i class='icon-pin-alt ml-2 text-muted'></i></a></div></div><div class='ml-3'></div></li>"
            }else{
                listVal += "<li class='media'><div class='mr-3'><a href=''><img src='' class='rounded-circle' width='40' height='40' alt=''></a></div><div class='media-body'><div class='media-chat-item'>" + (item.text)+ "</div><div class='font-size-sm text-muted mt-1'>"+ (item.time) +"<a href='#'><i class='icon-pin-alt ml-2 text-muted'></i></a></div></div><div class='ml-3'></div></li>"
            }
        });
    });
    return listVal;
});